.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.parlor {
  height: 100%;
  color: #000;
  font-size: 20px;  
  display: flex;
  flex-basis: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  align-self: center
}
.parlor h2 {
  align-self: flex-start;
  color: #000;
  font-size: 26px;
  width: 100%;
  text-align: center;
  text-decoration: none;

}
.parlor a {
  align-self: flex-start;
  color: #000;
  font-size: 18px;
  width: 100%;
  text-align: center;
  text-decoration: none;

}
.parlor a:hover {
  color: #4b4b4b;
}
.parlor p {
  align-self: flex-end;
  text-align: center;
  width: 100%;

}

.paper {
  height: 180px;
  width: calc(33% - 40px);
  margin: 20px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  position: relative;
}



.is-fav {
  background-color: #d7d7d7;
  cursor: pointer;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  height: 30px;

  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  transition: 0.4s background-color;
}
.is-fav:hover {
  background-color: #767676;
}
.is-fav.user-fav {
  background-color: #ffd75b; 
}
.is-fav.user-fav:hover {
  background-color: #9e9e9e; 
}

@media (max-width: 800px) {
  .paper {
    width: calc(50% - 40px);
  }
  .parlor h2{
    font-size: 20px;
  }
  .parlor p{
    font-size: 20px;
  }

}

@media (max-width: 400px) {
  .paper {
    width: calc(100% - 40px);
  }
  .parlor h2 {
    font-size: 24px;
  }
  .parlor p{
    font-size: 16px;
  }

}