.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  text-align: center;
}

.App-header h1{
  color: #fff;
  display: inline-block;
  font-size: 38px;
  font-weight: bold;
  margin-left: 20px;
  vertical-align: bottom;
}