.nav-links {
  background-color: black;
  // width: 100%;
  text-align: center;
  padding: 10px;
}
.nav-links a {
  // background-color: gray;
  color: #fff;
  display: inline-block;
  padding: 10px 25px;
  margin: auto;
  // transition:0.4s all;
  text-decoration: none;
}
.nav-links a.active {
  // color: #000;
  border-bottom: 4px solid #fff;
  box-sizing: border-box;
}